/* CSS declarations go here */
body {
  background: #ee4054;
  -webkit-animation: fadeIt 0.5s ease; /* Safari 4+ */
  -moz-animation:    fadeIt 0.5s ease; /* Fx 5+ */
  -o-animation:      fadeIt 0.5s ease; /* Opera 12+ */
  animation:         fadeIt 0.5s ease;
}

.randomReviews {
  width: 100%;
}

.angry svg {
  width: 200px;
  height: 200px;
  background-color: #FF9B9F;
}

nav {
    box-shadow: none;
    background: #ee4054;
    border-bottom: 1px solid #E5001A;
}

.nav-wrapper .btn {
  height: 100%;
  text-align: center;
  padding: 16px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.nav-wrapper .btn.left {
  border-right: 1px solid #E5001A;
}

.nav-wrapper .btn.right {
  border-left: 1px solid #E5001A;
}


@-webkit-keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
