/* CSS declarations go here */
body {
  background: #ee4054;
  -webkit-animation: fadeIt 0.5s ease; /* Safari 4+ */
  -moz-animation:    fadeIt 0.5s ease; /* Fx 5+ */
  -o-animation:      fadeIt 0.5s ease; /* Opera 12+ */
  animation:         fadeIt 0.5s ease;
}

.randomReviews {
  width: 100%;
  text-align: center;
  padding: 25px;
}

.randomReviews img {
  width: 100%;
  max-width: 250px;
}

.randomReviews .card-panel {
  position: relative;
}

.randomReviews .card-panel .emotion {
  width: 65px;
}

.randomReviews .card-panel .comments {
  text-align: left;
  padding-left: 30px;
  padding-bottom: 15px;
  color: #555;
  line-height: 1.6em;
  quotes: "“" "”" "‘" "’";
}
/*
.randomReviews .card-panel .comments:before, .randomReviews .card-panel .comments:after {
  color: #ccc;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.2em;
}

.randomReviews .card-panel .comments:after {
  content: close-quote;
  margin-left: 0.15em;
  margin-right: 0;
}*/

.randomReviews .card-panel .footer {
    position: absolute;
    display: block;
    width: 100%;
    height: 40px;
    right: 0;
    left: 0;
    bottom: 0;
    border-top: 1px solid #ddd;
    font-weight: 500;
    padding: 2px;
    padding-left: 12px;
    color: #777;
    font-size: 0.9em;
}

.randomReviews .card-panel .footer li {
  list-style: none;
  display: inline-block;
  float: left;
  padding: 7px;
}

.randomReviews .card-panel .footer li .ratingNumber {
  background-color: #FF7E00;
  padding: 1px 3px;
  color: #fff;
  border-radius: 2px;
}

.card-panel > .row {
  padding-top: 10px;
}

.angry svg {
  width: 200px;
  height: 200px;
  background-color: #FF9B9F;
}

nav {
    box-shadow: none;
    background: #ee4054;
    border-bottom: 1px solid #E5001A;
}

.nav-wrapper .btn {
  height: 100%;
  text-align: center;
  padding: 16px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 0;
}

.nav-wrapper .btn.left {
  border-right: 1px solid #E5001A;
}

.nav-wrapper .btn.right {
  border-left: 1px solid #E5001A;
}

.customerStatus {
  font-size: 2.2em;
  color: #ddd;
  font-weight: 200;
  text-align: center;
}


@-webkit-keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fadeIt {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
